@charset "UTF-8";
@import '../utility/variable';
@import '../utility/animation';
@import '~swiper/swiper-bundle.css';

.swiper-container {
  overflow: hidden;
  width: 100%;
}
@media ( min-width: 600px ) {
  .swiper-container{
    width: 80%;
  }
}

.swiper-slide{
  position: relative;
}

.swiper-slide > img{
  @media ( min-width: 600px ) {
    height: 450px;
  }
  object-fit: cover;
  height: 300px;
}

.swiper-text{
  font-size: 14px;
  font-weight: bold;
  color: $white;
  text-shadow: 0 5px 3px rgba(0, 0, 0, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
  transform: translate(-50%,-50%);

  &.appear.down{
    opacity: 1;
    transform: translate(-50%, -100%);
  }
}

.swiper-footer{
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;
  overflow: hidden;
  width: 22px;
  height: 68px;
  transform: translateX(-50%);
}

.swiper-footer__image{
  @include animation($name:arrowUpDown,$iteration-count: infinite);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6px;
  transition: 1s;}

.swiper-footer__text{
  color: $white;
  display: block;
  margin-left: 5px;
  transform: rotate(90deg);
}

@keyframes arrowUpDown {
  0%,100% {
    transform: translateY(-10px);
  }

  50%{
    transform: translateY(0);
  }

}